Infra/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.19.1/windows_amd64/terraform-provider-azurerm_v3.19.1_x5.exe
Infra/.terraform.tfstate.lock.info
Infra/terraform.tfstate
Infra/mainf.tf
